RewriteEngine On
DirectoryIndex index.php
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]
RewriteCond %{HTTP_USER_AGENT} libwww-perl.* 
RewriteRule .* – [F,L]
AddType application/x-httpd-php .js
AddType application/x-httpd-php .tpl
AddHandler x-httpd-php5 .js
Options All -Indexes
AddDefaultCharset UTF-8
DefaultLanguage es-ES
<Files .htaccess>
order allow,deny
deny from all
</Files>
